/* Style for top nav */

.navPad{
	padding-right:20px;
	color:white;
	margin-bottom:10px;
}

.navPad:hover{
	color:#FCFCFC;
}
#topnav{
	height: 50px;
	}

#navClass{
	color:white;
}
#sidenav{
height:2000px;
width:100%;
}
.fixednav{
	width:100%;
	position:fixed;
	z-index: 300;
}
.dropDownStyle{
	color:black;
	background-color: grey;
	margin-top: 100px;
}



	/* BOXES IN MAIN */

.collum{
height:550px;
width: 150px;
float: left;
margin-top:50px;
margin-left: 150px;

}



.item {
height:170px;
width: 170px;
margin-top:40px;
padding: 0;
text-decoration: none;
list-style: none;
border: 1px solid ;
border-radius: 50%;
background:  grey;

}


.content{
font-size:14px;
font-weight:normal;
position:relative;
border-radius: 50%;

}
.content img
{
width:50%;
height:50px;
margin-left: 1px;
border-radius:50%;
}

/* this is the is for the top of the six buttons/links for each of the six boxes contained within the main div*/
.top {
	width:63%;
	height:20%;
	color: white;
	margin:0 auto;
	text-align:center;
	padding: 2px 2px;
	text-decoration:none;
	list-style:none;
	font-size: 15px;
	font-weight: bold;
	border-radius:50%;
	background:blue;
}
	
.top a {
color:white;

}
.vis{

	display:block;
}
.replacevis{
	display:none;
}
@media (max-width: 913px){
.collum{
margin-left: 15px;
}
}
@media (max-width: 869px){

}
@media (max-width: 767px) {
	.vis{
		display:none;
	}
	.collum{
margin-left: 26px;
}


}










/* Test for dropdown */
/*style the sub menu*/
#topNav li ul {
	border-top:1px solid #fff;
	margin:0;
	padding:0;
}

#topNav li ul li {
	display:inline;
	float:none;
}

#topNav li ul li a:link, #topNav  li ul li a:visited {
	background-color:#09F;
	width:auto;
}

#topNav  li ul li a:hover {
	background-color:#0CF;	
}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	
		.small {
-webkit-transform: scale(0.7, 0.7);
   -moz-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7,0.7);
        transform: scale(0.7, 0.7);

}

.vid {
	
-webkit-transition: -webkit-transform 1s ease-in;
   -moz-transition: -moz-transform 1s ease-in;
    transition: transform 1s ease-in;
		
height:200px;
width: 200px;
margin-top:40px;
padding: 0;
text-decoration: none;
list-style: none;
border: 1px solid ;
border-radius: 50%;
background:  grey;
}


.center{
	width:93%;
	height:40%;
	background:green;
	border-radius:50%;
	margin: 0 auto;
}


.bottom{
	width:75%;
	height:38%;
	background:red;
	border-radius:50%;
	margin: 0 auto;
	text-align:center;
	padding: 2px 2px;
	text-decoration:none;
	list-style:none;
	font-size: 15px;
	font-weight: bold;
	color:white;
}



